#span2

#span7
  %h1 Listing Titles
  - @titles.each do |title|
    = render title
    = paginate @titles

#span3
    <div class="span3">
      <%=  mylinkbutton "<i class='icon-plus'></i> New Title", new_title_path   if can? :create, Title %>
      <%= form_tag '/titles',method: :get,:html=>{:class=>"form-horizontal"} %>
      <div class="fields">
	<div class="field control-group">
	  <div class="controls">
	    <%= text_field_tag "searchquery",@searchquery %>
	    <%= submit_tag "Search",:class=>"btn btn-primary",:style=>"position:relative;top:-5px;" %>
	  </div>
	</div>
      </div>
      </form>

  
   
